body{
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  /* .container{ */
    /* margin: 20px; */
  /* } */
  
  .row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  

 /* Header */
  .card-01{

    /* background: #03D29F; */
    position: relative;
    /* max-width: 550px; */
    height: 610px;
    margin: 10px; 
       
  }
  .name{
    font-family: Heebo;
    flex: 1;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .name h1{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin: 0;
  }
  .name p{

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
  }
  .pic{
    flex: 2;
    display: flex;
    max-width: 600px;
    align-items: center; 
    justify-content: center;
    
  }

  .circle{
    border-radius: 50% !important;
}
  .img-thumbail{
    padding: .25rem;
    background-color: #EDF7FA;
    border: 5px solid #EDF7FA;
    
    max-width: 100%;
    height: auto;
}

/* Information */

  .card-02{
    /* background: red; */
    position: relative;
    flex: 1;
    max-width: 550px;
    height: 400px;
    margin: 10px;
  }
  
  .information{
    background: #EDF7FA;
    font-family: Inter;
 }
 .information h2{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color:#136223;
    margin: 0;
    letter-spacing: 0.015em;
    text-transform: uppercase;
 }
 .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
 }
 .contact p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #100101;
 }
 .contact svg{
    margin-right: 10px;
 }
 .educ{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    margin: 18px 0 18px 0;
 }

 /* footer */
  .card-03{
    /* background: #FF7675; */
    position: relative;
    flex: 1;
    max-width: 1120px;
    height: 182px;
    margin: 10px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    /* text-align: center; */
    align-self: center;
  

  }
  .sosmed{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    color: #21243D;
    
  }
  .sosmed svg {
    margin: 20px;
  }
  a{
    color: #21243D;
  }

  .card-03 p{
    display: flex;
    justify-content: center;
    font-family: Heebo;
  }






  @media (max-width:800px){
    .card-01{
      flex: 100%;
      max-width: 600px;
    }
  
    .card-02{
      flex: 100%;
      max-width: 600px;
    }
  
    .card-03{
      flex: 100%;
      max-width: 600px;
    }
  }